@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Signika Negative', sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #222A45;
    z-index: -1;
}

.logo-container {
    border-right: #ffffff 1px solid;
    border-bottom: #ffffff 1px solid;
    height: 61px;
    width: 250px;
    display: flex;
    color: #ffffff;
    justify-content: center;
}

.logo-container>div {
    align-self: center;
    display: relative;
    font-weight: 500;
    font-size: 1.5rem;
}

.menu{
    color:#9FA2B7;
    font-weight: bold;
}

ul{
    all:unset;
    padding: 0 !important;
}

li{
    all:unset;
   display: block;
   padding:10px 0;
}

.menu-item{
    cursor: pointer;
    transition: all 0.25s;
    padding-left: 20px;
}




.menu-item-active{
    color:#000000;
    padding-left: 30px;
    background-color: #ffffff;
}


.menu-item div{
    padding:10px 0;
}

.menu ul li div{
    font-size: 1.2rem;

}

.menu ul li div i{
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 5px;
}

.topbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #222A45;
    z-index: -2;
}

.content-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -3;
    padding: 70px 10px 10px 260px;
}

.content{
    width:100%;
    height: 100%;
    background-color: #ffffff;
}

@media (max-width: 992px) { 
    .sidebar{
        width:60px;
    }

    .logo-container{
        width: 60px;
    }

    .menu-item{
        padding:20px 0;
        text-align: center;
    }

 
    .menu-item-active{
        color:#000000;
        background-color: #ffffff;
    }

    .menu ul li span{
        display: none;
    }


 }

 @media (min-width: 992px){
    .menu-item:hover{
        color:#000000;
        background-color: #ffffff;
        padding-left: 25px;
    }
 }